<div class="view">
  <label (dblclick)="isEditing=true">{{ todo.title }}</label>
  <input type="text" *ngIf="isEditing" [(ngModel)]="todo.title" (keyup.enter)="isEditing=false">
  <select [(ngModel)]="todo.status">
    <option *ngFor="let status of getStatuses()">
      {{ status }}
    </option>
  </select>
  <div class="float-right">
    <button
      type="button"
      (click)="deleteTodo(todo)"
      class="btn btn-danger btn-sm"
    >
      Delete
    </button>
    <button 
    type="button"
    (click)="TodoEdit(todo)"></button>
  </div>
</div>
